{% block title %}
    {% if object %}
        <title>Update {{ city.city }}</title>
    {% else %}
        <title>Add a New Trip</title>
    {% endif %}
{% endblock %}

{% block content %}
    {% if object %}
        <h1>Update {{ city.city }}</h1>
    {% else %}
        <h1>Create a New Trip</h1>
    {% endif %}


<form method="POST">
    {% csrf_token %}
    <table>        
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" class="btn blue">
</form>

{% endblock %}