#cardy {
    width: auto;
    height: auto;
    box-sizing: border-box;
}

#cardy2 {
    width: auto;
    height: auto;
    background-color: blanchedalmond;
}
/* 
div {
    border-style: solid;
    border-color: black;
    border-width: 1px;
} */