#cardy {
    width: auto;
    height: auto;
    box-sizing: border-box;
}

#cardy2 {
    width: auto;
    height: auto;
    background-color: blanchedalmond;
}
/* 
div {
    border-style: solid;
    border-color: black;
    border-width: 1px;
} */

.brand-logo {
    font-family: 'Pacifico', cursive;
}

li {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Merriweather', serif;
}

.username {
    font-family: 'Merriweather', serif;
    font-weight: 800;
}